#start-btn {
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 30px;
    margin-top: 40px;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
    background-position: center;

    
}

#reset-btn{
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 30px;
    margin-top: 40px;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#game-box {
    background-color: white;
    width: 600px;
    height: 600px;

    position: relative;
    overflow: hidden;
    user-select: none;

    background-image: url(../images/Nuevofondo.png);
    background-position: center;
    background-size: cover;
}


#game-screen, #game-over{
    display: none;
}

#score {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #61dafb;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 4px 8px rbga(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-start;
    font-size: 30px;
}

#highscore{
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    padding: 5px 40px;
    display: flex;
    align-items:flex-end;
    font-size: 30px;

}

#game-screen{
    font-size: 20px;
    align-items: center;
}


/* #modeContainer { 
    display: flex; margin-top: 10px; 
} 
.mode { 
    padding: 10px; cursor: pointer; border: 1px solid black; margin-right: 5px;
} 
.active { 
    background-color: green; color: white; }  
    */

#modeContainer { 
    display: flex; justify-content: center; margin-top: 20px;
} 

.mode { 
    font-size: 16px; font-weight: bold; padding: 15px 25px; margin: 0 10px; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease; outline: none; 
} 

.active { 
    background-color: #4CAF50; /* Verde */ color: white; 

}